## importo las librerias que voy a necesitar

In [1]:
import numpy as np
import pandas as pd

## Importo el dataset: 'training_dataset'

In [2]:
data = pd.read_csv('./input/training_dataset.csv')
data.head()

,id,0,1,2,3,4,5,6,7,8,9,author
0,0,0.142636,0.431070,0.032912,-0.486796,0.261718,-1.013906,-0.081827,0.330352,0.438262,-0.761088,Ubuntius
1,1,0.019197,0.525284,0.068476,0.166658,0.261718,0.231839,0.635431,0.133209,0.313536,-0.002374,Philippus
2,2,0.093260,-0.087108,-2.268081,-0.164963,0.261718,1.477585,0.635431,-0.370641,0.126447,1.078357,Marcus
3,3,-0.017834,-0.228430,0.370770,1.293671,0.172340,-0.058835,0.446679,1.609556,2.277968,-0.172339,Clarius
4,4,0.080916,-0.142067,0.171611,-0.470713,0.261718,-0.141884,-0.044076,0.375551,0.032902,0.009898,Philippus

In [3]:
data.isna().sum()

id        0
0         0
1         0
2         0
3         0
4         0
5         0
6         0
7         0
8         0
9         0
author    0
dtype: int64

No tiene nulos !!

In [4]:
#pongo la columna id como indice
data = data.set_index("id")
data.head()

,0,1,2,3,4,5,6,7,8,9,author
id,,,,,,,,,,,
0,0.142636,0.431070,0.032912,-0.486796,0.261718,-1.013906,-0.081827,0.330352,0.438262,-0.761088,Ubuntius
1,0.019197,0.525284,0.068476,0.166658,0.261718,0.231839,0.635431,0.133209,0.313536,-0.002374,Philippus
2,0.093260,-0.087108,-2.268081,-0.164963,0.261718,1.477585,0.635431,-0.370641,0.126447,1.078357,Marcus
3,-0.017834,-0.228430,0.370770,1.293671,0.172340,-0.058835,0.446679,1.609556,2.277968,-0.172339,Clarius
4,0.080916,-0.142067,0.171611,-0.470713,0.261718,-0.141884,-0.044076,0.375551,0.032902,0.009898,Philippus

In [5]:
print(data.dtypes)

0         float64
1         float64
2         float64
3         float64
4         float64
5         float64
6         float64
7         float64
8         float64
9         float64
author     object
dtype: object

## Mapa de calor con la matriz de correlacion de las columnas

In [6]:
import matplotlib.pyplot as plt
import seaborn as sns
correlation_matrix = data.corr()
correlation_matrix

plt.subplots(figsize=(14,6))
heat_map = sns.heatmap(correlation_matrix, linewidths=.7, annot = True)

No tiene columnas que esten por encima de 0.9, asi que no estan muy relacionadas y se quedan todas

## analizo la columna author que es la unica no-numerica

In [7]:
data['author'].unique()

array(['Ubuntius', 'Philippus', 'Marcus', 'Clarius', 'Blanquius',
       'FerrumEffractarius', 'Paithonius', 'Ovionicus'], dtype=object)

In [8]:
data['author'].value_counts()

Marcus                5118
Philippus             2345
Ovionicus             1303
Blanquius             1017
Paithonius             643
Clarius                623
Ubuntius               539
FerrumEffractarius     429
Name: author, dtype: int64

In [9]:
data.to_csv("./output/data.csv")

## importo el text

In [10]:
df_test = pd.read_csv("./input/test_dataset.csv", index_col=0)
df_test.head()

,0,1,2,3,4,5,6,7,8,9
id,,,,,,,,,,
0,0.019197,0.038511,0.192950,0.323367,0.261718,-0.100360,0.106925,0.463833,0.064084,-0.025146
1,0.006853,0.462474,-0.016878,0.649795,-1.347089,-0.307984,-0.119577,0.855597,0.375899,-0.092040
2,0.229043,-0.369751,0.484575,0.250174,0.261718,-0.017310,0.446679,0.232984,-0.123005,-0.126856
3,-0.104241,-0.055704,0.299642,0.391249,0.172340,0.314889,0.106925,0.220694,0.219991,0.368972
4,1.043737,-0.401156,0.473906,0.506215,0.261718,0.065740,-0.195078,0.515440,-0.808997,0.315303

In [11]:
df_test.isna().sum()

0    0
1    0
2    0
3    0
4    0
5    0
6    0
7    0
8    0
9    0
dtype: int64

In [12]:
df_test.to_csv("./output/df_test.csv")

In [13]:
df_test = pd.read_csv("./input/sample_submission.csv")
df_test.head()

   id              author
0   0  FerrumEffractarius
1   1             Clarius
2   2              Marcus
3   3           Philippus
4   4              Marcus

## Vamos a entrenar algunos modelos

In [14]:
from sklearn.model_selection import train_test_split

y=data['author']
c=list(data.columns)
c.remove('author')
X=data[c]


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(9613, 10) (2404, 10) (9613,) (2404,)

In [15]:
from sklearn.model_selection import cross_val_score, KFold
kf = KFold(n_splits=5, shuffle=True, random_state=11)

In [16]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.experimental import enable_hist_gradient_boosting
from sklearn.ensemble import BaggingClassifier
from sklearn.ensemble import HistGradientBoostingClassifier
from sklearn.metrics import accuracy_score


models = {
    "randomforest25": RandomForestClassifier(n_estimators=25),
    "randomforest250": RandomForestClassifier(n_estimators=250),
    "randomforest3000": RandomForestClassifier(n_estimators=3000),
    "histboosting" : HistGradientBoostingClassifier(learning_rate=0.2),
    "histboosting2" : HistGradientBoostingClassifier(learning_rate=0.4),
    "tree": DecisionTreeClassifier(),
    "bagging" : BaggingClassifier(base_estimator=SVC(), n_estimators=10, random_state=0)
}

for modelName, model in models.items():
    print(f"Training model: {modelName}")
    model.fit(X_train, y_train)

Training model: randomforest25
Training model: randomforest250
Training model: randomforest3000
Training model: histboosting
Training model: histboosting2
Training model: tree
Training model: bagging

/home/jose/.local/lib/python3.6/site-packages/sklearn/svm/base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
/home/jose/.local/lib/python3.6/site-packages/sklearn/svm/base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
/home/jose/.local/lib/python3.6/site-packages/sklearn/svm/base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
/home/jose/.local/lib/python3.6/site-packages/sklearn/svm/base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
/home/jose/.local/lib/python3.6/site-packages/sklearn/svm/base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
/home/jose/.local/lib/python3.6/site-packages/sklearn/svm/base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
/home/jose/.local/lib/python3.6/site-packages/sklearn/svm/base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
/home/jose/.local/lib/python3.6/site-packages/sklearn/svm/base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
/home/jose/.local/lib/python3.6/site-packages/sklearn/svm/base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
/home/jose/.local/lib/python3.6/site-packages/sklearn/svm/base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

## modelo randomforest25

In [29]:
from sklearn.metrics import r2_score

d_model= RandomForestClassifier(n_estimators=25)
histb = d_model.fit(X_train,y_train)

pr_pred = histb.predict(X_test)
print("Accuracy",accuracy_score(y_test, pr_pred))

Accuracy 0.9841930116472546

In [30]:
df_test.head()

   id              author
0   0  FerrumEffractarius
1   1             Clarius
2   2              Marcus
3   3           Philippus
4   4              Marcus

In [31]:
subm = df_test["author"]
subm

0       FerrumEffractarius
1                  Clarius
2                   Marcus
3                Philippus
4                   Marcus
               ...
8007              Ubuntius
8008             Blanquius
8009               Clarius
8010               Clarius
8011            Paithonius
Name: author, Length: 8012, dtype: object

In [32]:
subm.to_csv("./output/randomforest25.csv")

## modelo randomforest250

In [33]:
d_model= RandomForestClassifier(n_estimators=250)
histb = d_model.fit(X_train,y_train)

pr_pred = histb.predict(X_test)
print("Accuracy",accuracy_score(y_test, pr_pred))

Accuracy 0.9833610648918469

In [34]:
subm = df_test["author"]
subm

0       FerrumEffractarius
1                  Clarius
2                   Marcus
3                Philippus
4                   Marcus
               ...
8007              Ubuntius
8008             Blanquius
8009               Clarius
8010               Clarius
8011            Paithonius
Name: author, Length: 8012, dtype: object

In [35]:
subm.to_csv("./output/randomforest250.csv")

## modelo randomforest3000

In [36]:
d_model= RandomForestClassifier(n_estimators=3000)
histb = d_model.fit(X_train,y_train)

pr_pred = histb.predict(X_test)
print("Accuracy",accuracy_score(y_test, pr_pred))

Accuracy 0.9829450915141431

In [37]:
subm = df_test["author"]
subm

0       FerrumEffractarius
1                  Clarius
2                   Marcus
3                Philippus
4                   Marcus
               ...
8007              Ubuntius
8008             Blanquius
8009               Clarius
8010               Clarius
8011            Paithonius
Name: author, Length: 8012, dtype: object

In [38]:
subm.to_csv("./output/randomforest3000.csv")

## modelo histboosting

In [39]:
d_model= HistGradientBoostingClassifier(learning_rate=0.2)
histb = d_model.fit(X_train,y_train)
 
pr_pred = histb.predict(X_test)
print("Accuracy",accuracy_score(y_test, pr_pred))

Accuracy 1.0

In [41]:
subm = df_test["author"]
subm

0       FerrumEffractarius
1                  Clarius
2                   Marcus
3                Philippus
4                   Marcus
               ...
8007              Ubuntius
8008             Blanquius
8009               Clarius
8010               Clarius
8011            Paithonius
Name: author, Length: 8012, dtype: object

In [42]:
subm.to_csv("./output/histboosting.csv")

## modelo histboosting2

In [43]:
d_model= HistGradientBoostingClassifier(learning_rate=0.15)
histb = d_model.fit(X_train,y_train)

pr_pred = histb.predict(X_test)
print("Accuracy",accuracy_score(y_test, pr_pred))

Accuracy 1.0

In [44]:
subm = df_test["author"]
subm

0       FerrumEffractarius
1                  Clarius
2                   Marcus
3                Philippus
4                   Marcus
               ...
8007              Ubuntius
8008             Blanquius
8009               Clarius
8010               Clarius
8011            Paithonius
Name: author, Length: 8012, dtype: object

In [45]:
subm.to_csv("./output/histboosting2.csv")

## modelo tree

In [46]:
d_model= DecisionTreeClassifier()
histb = d_model.fit(X_train,y_train)

pr_pred = histb.predict(X_test)
print("Accuracy",accuracy_score(y_test, pr_pred))

Accuracy 0.971297836938436

In [47]:
subm = df_test["author"]
subm

0       FerrumEffractarius
1                  Clarius
2                   Marcus
3                Philippus
4                   Marcus
               ...
8007              Ubuntius
8008             Blanquius
8009               Clarius
8010               Clarius
8011            Paithonius
Name: author, Length: 8012, dtype: object

In [48]:
subm.to_csv("./output/tree.csv")